<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" ngModel class="form-control" #name="ngModel" required />
          <span class="help-block alert-danger" *ngIf="name.touched && name.invalid">Please Enter Name.</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount" class="form-control" ngModel #amountInput="ngModel" required
            pattern="^[1-9]\d*$" />
          <span class="help-block alert-danger" *ngIf="amountInput.touched && amountInput.invalid">
            <span *ngIf="amountInput.errors?.required">Amount is required.</span>
            <span *ngIf="amountInput.errors?.pattern && !amountInput.errors?.required">Please enter a valid positive
              number.</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" style="margin-right: 5px;" type="submit" [disabled]="form.invalid">{{editMode
            == true ? 'Update' : 'Add'}}</button>
          <button *ngIf="editMode" class="btn btn-danger" style="margin-right: 5px;" type="button" (click)="delete()">Delete</button>
          <button class="btn btn-primary" style="margin-right: 5px;" type="button" (click)="clear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>